	.loghorn_initial #loghorn_tabs	{
		display:none;
	}
	/*****************************************************************************************************************************************/
	/* IMAGES                                                                                                                                *
	/*****************************************************************************************************************************************/
	/*
	 * logo should be previewed as 80x80 image on the admin page.
	 */
	#logo_div	{
		width: 80px;
		height: 80px;
		margin: 0 auto;
		padding: 10px;
	}
	
	/*
	 * background should be previewed as 160x100 image on the admin page.
	 */
	#bg_div	{
		width: 480px;
		height: 300px;
		margin: 0 auto;
		padding: 15px;
	}
	
	/*****************************************************************************************************************************************/
	/* IMAGE BUTTONS                                                                                                                         *
	/*****************************************************************************************************************************************/
	#logo_upload_image_button,
	#bg_upload_image_button	{
		margin-right: 20px ;
		float: right ; 
		/*border-color: gray;*/
	}

/*	
	div.img1 {
		border: 1px solid #ccc;
	}
	
	div.img1:hover {
		border: 1px solid #555;
	}
*/
	div.img1 img {
		width: 100%;
		height: 100%;
		/*background-size: contain;*/
	}

	div.desc {
		background-color: #fff ;
		border: 1px solid #ccc;
		color: #777;
		text-align: center;
	}
	
	/*****************************************************************************************************************************************/
	/* SLIDERS                                                                                                                               *
	/*****************************************************************************************************************************************/
	.ui-slider	{
		width: 500px ;
		height: 6px ;
	}
	
	.ui-slider-handle	{
		width: 36px !important;
		text-align: center ;
		font-size: 10px ;
	}
	
	/*****************************************************************************************************************************************/
	/* ALL CUSTOM FIELDS                                                                                                                     *
	/*****************************************************************************************************************************************/
	.loghorn_custom_options	{
		width: 530px ;
		/*background-image: url('images/white.jpg'); 
		background-size: cover;*/
		background-color: #f2f2f2;
		padding: 6px ;
		margin: 1px ;
		border: 1px solid #afafaf ;
		border-radius: 4px ;
	}
	
	
	.loghorn_underline	{
		width: auto;
		border: 1px solid #afafaf ;
	}
	