	#logo_div	{
		width: 80px;
		height: 80px;
	}
	
	#bg_div	{
		width: 160px;
		height: 100px;
	}
	
	div.img1 {
		border: 1px solid #ccc;
	}
	
	div.img1:hover {
		border: 1px solid #555;
	}

	div.img1 img {
		width: 100%;
		height: 100%;
		background-size: contain;
	}

	div.desc {
		background-color: #fff ;
		border: 1px solid #ccc;
		color: #777;
		text-align: center;
	}