	#logo_div	{
		width: 80px;
	}
	
	#bg_div	{
		width: 180px;
	}
	
	div.img1 {
    margin: 5px;
    border: 5px solid #aaa;
	border-style: ridge;
    float: bottom-left;
    }

	div.img1:hover {
		border: 5px solid #555;
	border-style: ridge;
	}

	div.img1 img {
    width: 100%;
    height: 100%;
	}

	div.desc {
    padding: 5px;
	background-color: white ;
	border: 1px solid #ccc;
	color: #777;
    text-align: center;
	}
	div.desc:hover {
    color: #00f;
	}